<%= form_for(current_user.s_relationships.build(s_followed_id: @user.id),
             remote: true) do |f| %>
    <div><%= f.hidden_field :s_followed_id %></div>
    <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
