<%= form_for(current_user.shareholder_relationships.build(shareholder_followed_id: @user.id),
             remote: true) do |f| %>
    <div><%= f.hidden_field :shareholder_followed_id %></div>
    <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
