<%= form_for(current_user.c_relationships.build(c_followed_id: @company.id),
             remote: true) do |f| %>
    <div><%= f.hidden_field :c_followed_id %></div>
    <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>