<% @user ||= current_user %>
<div class="stats">
  <a href="<%= company_followers_company_path(@company) %>">
    <strong id="followers" class="stat">
      Followed By
      <%= @company.company_followers.count %>
      Shareholders
    </strong>
  </a>
</div>