<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.text_area :message, placeholder: "Add a comment" %>
  </div>
      <%= f.submit "Post Comment", class: "btn btn-large btn-primary" %>
      <%= f.hidden_field :post_id, :value => @post.id %>
<% end %>