<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
    Following
      <%= @user.followed_users.count %>
    Shareholders
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
    Followed By
      <%= @user.followers.count %>
    Shareholders
    </strong>
  </a>
</div>