<% provide(:title, @company.symbol) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @company.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/company_stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'users/follow_company_form' if signed_in? %>

  </div>
</div>